@import url(http://fonts.googleapis.com/css?family=Lobster);
body {
    background:darkslategray;
}
section {
    /* You will add new style rules here */
    margin:auto;
    position:relative;
    background: url(https://codecademy-content.s3.amazonaws.com/courses/web-beginner-en-9xjis/images/winter.jpg);
    width: 700px;
    height: 500px;
    color:white;
    font-family:Lobster;
    
    /* I am a comment. */
}

h1 {
    position:absolute;
    margin:0;
    top:0;
    left:30px;
    /* Any styles here just affect your "<h1>" tags. */
    font-size:48px;
   
}
h2 {
    position: absolute;
    margin:0;
    top:190px;
    left:140px;
    font-size:36px;
}
img {
    position:absolute;
    top:250px;
    left:0px;
}
